@font-face {
    font-family: unifont;
    src: url("unifont.ttf");
}

body {
    font-family: unifont;
    color: #EEEEEE;
    background-color: #000000;
    font-size: 36px;
}

.header {
    margin: 0 auto;
    width: 540px;
    white-space: pre;
    text-align: left;
}

.option {
    color: darkturquoise;
}

.option:hover {
    color: aqua;
}

.option:active {
    color: chartreuse;
}

#hidden {
}

p {
    text-align: center;
    white-space: pre;
    margin: 0;
}

div {
    text-align: center;
    white-space: pre;
    width: 540px;
    margin: 0 auto;
}

#results table {
    width: 100%;
}

#input {
    position: relative;
    white-space: normal;
}

#register {
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
}

#hiddenText {
    opacity: 0;
    font-size: 16px;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 540px;
    z-index: 1;
}